- if notice.present?
	.alert.alert-success= notice

.panel.panel-default
	.panel-heading
		.btn-group.pull-right.hidden-xs
			- if user_is_admin?
				= link_to 'Edit category', edit_category_path(category), class: "btn btn-primary"
			= link_to 'Category list', categories_path, class: 'btn btn-primary'

		.btn-group.visible-xs
			- if user_is_admin?
				= link_to 'Edit category', edit_category_path(category), class: "btn btn-primary"
			= link_to 'Category list', categories_path, class: 'btn btn-primary'
			%br
			%br

		%h4="Category: #{category.name}"
		- if user_signed_in?
			= link_to "Add new product", :anchor=>"add_new_product"
			\|
			= link_to "Product list in this category", category_products_path(category,product)

	.panel-body
		=render 'category_products'

-if user_signed_in?
	.panel.panel-default#add_new_product
		.panel-heading
			%h4="New product in #{category.name}"
		.panel-body
			= render 'products/form'